# Core
python-dotenv
pandas
numpy

# LLM
groq

# Embeddings
sentence-transformers

# Vector DB
chromadb

# ML / Search
scikit-learn

# Agents / Graph
langchain
langgraph


# UI
streamlit
requests

# Utils
tqdm

openpyxl
langchain-groq

plotly
