streamlit

langchain
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface

chromadb
sentence-transformers

torch
transformers

pandas
numpy
scikit-learn

python-dotenv
requests

plotly
altair<5
